/*<!-- Table of Content open: -->
1. Header
2. Home Page: What is Lucky Water?
3. Product information
4. Benefits
5. Location
6. Upcoming Events
7. Footer
<!-- Table of Content close: -->*/

/*More reset styles open:*/
html {
  box-sizing: border-box;
  }

*, *:before, *:after, figure {
  box-sizing: inherit;
  padding:0;
  margin:0;
}
/*More reset styles close*/

/*Universal styles open*/
a {
  text-decoration: none;
  color: #133C55;
  font-family: 'Amaranth', sans-serif;
  font-size: 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
}

a:hover {
  color: white;
}

h1 {
  font-family: 'Amaranth', sans-serif;
  font-size: 4rem;
  color: white;
  text-shadow: 2px 2px 0px black;
}

h2 {
  font-family: 'Amaranth', sans-serif;
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px 0px black;
 }

 h3 {
  font-family: 'Amaranth', sans-serif;
  font-size: 1rem;
  color: #133C55;
 }

h4 {
  font-family: 'Amaranth', sans-serif;
  font-size: 0.9rem;
  color: #133C55;
  text-align: left;
}

p {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.5rem;
  color: black;
}

/* Waves Effect open */
.wave {
  position: relative;
  height: 70px;
  width: 100%;
  background: white;
}

.wave:before {
        content: "";
        display: block;
        position: absolute;
        border-radius: 100% 50%;
        width: 55%;
    height: 80px;
    background-color: white;
    right: -5px;
    top: 40px;
}

.wave:after {
        display: block;
        position: absolute;
        width: 120%;
    height: 100px;
    background-color: white;
    left: -20px;
    bottom: 0;
    transform: rotate(3deg);
}

/*Waves Effect close*/

*---------------*/
/***** Chico *****/
/*---------------*/
.grid {
	position: relative;
	margin: 0 5%;
	padding: 5%, 2%;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

.grid figure {
	position: relative;
	overflow: hidden;
	max-height: 360px;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
  margin: 0 5%;
}

.grid figure img {
	position: relative;
	display: block;
  height:auto;
	max-width: none;
  width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 0.5em;
	color: #fff;
	font-size: 0.2em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

figure.effect-chico img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}

figure.effect-chico:hover img {
	opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-chico figcaption {
	padding: 1em;
}

figure.effect-chico figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 1px solid #fff;
	content: '';
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

figure.effect-chico figcaption::before,
figure.effect-chico p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-chico h2 {
	padding: 10% 0 20px 0;
  font-size: 2.5rem;
}

figure.effect-chico p {
	margin: 0 auto;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
  color: white;
}

figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

@media screen and (max-width: 50em) {
	.content {
		padding: 0 10px;
		text-align: center;
	}
	.grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}
/*Ends Chico transition*/

nav {
  text-align: center;
}

.padding {
  padding:5%;
}

.padding-top {
  padding-top: 1.2%;
}
/*White faded border boxes*/
.white_border {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2%;
}

.center {
  text-align: center;
  justify-content: center;
}

/*Universal styles close*/

/*Header Styles open*/
header {
position: fixed;
width: 100%;
background-color: rgba(96, 204, 245, 0.8);
height:100px;
z-index: 5;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 10px;
  height: 100px;
}

.logo img {
  max-width: none;
  height: 100%;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
}

nav a {
  line-height: 100px;
  padding: 0 20px;
  display:block;
}

.nav_items {
  display: flex;
}

a:hover {
  background-color: rgba(0, 0 ,0 ,0.2);
}
/*Header Styles close*/

/*Body opens*/

/*home section open*/
.home {
  background-image:url("/images/home_background.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  padding-top: 100px;
  text-align: center;
}

h1 {
  padding-top: 15%;
}
.home .bottle_description {
  padding-left: 10%;
}

.bottle_image img {
  width: 200px;
  padding-top: 6%;
}

/*home section close*/

/*product information section open*/
.product_info {
  background-image: url("/images/product_info2.jpg");
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
  padding-top: 5%;
  height: calc(100vh - 100px);
}

.product_info h2 {
  padding-left: 28%;
  text-align: left;
}

.product_info p {
  margin-bottom: auto;
}
/*product information section close*/

/*benefits section open*/
.benefits {
  background-image: url("/images/benefits.jpg");
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  padding-top: 4%;
  height: calc(100vh - 100px);
}

.benefits h2 {
  padding-bottom: 5%;
  padding-top: 5%;
}

.boxes {
  display: block;
}

.left {
  text-align: left;
}

/*benefits section close*/

/*location section open*/
.location h2 {
  color: rgba(96, 204, 245, 0);
  margin-top: 19%;
  padding: 0;
  text-align: left;
}

.location div p {
  padding-right: 2%;
  margin-top: 5%;
  text-align: left;
}

.location h3 {
  padding-top: 2%;
}

.map {
  height: calc(100vh - 100px);
}

.map img {
  display: block;
  height: 50%;
  width: 100%;
  margin-top: 19%;
}

.enlarge {
  transform: scale(1);
  transition: all 0.5s ease;
  transform-origin: 0 0;
  margin-top: 7%;
  cursor: pointer;
}

.enlarge.active {
  transform: scale(2.1);
  margin-top: 0;
  padding-left: 0;
}

/*location section close*/

/*updated events section open*/
.events-container {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 5%;
}

.updates {
  background-image: url("/images/updates.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  height: calc(100vh - 100px);
}

.updates h2{
  color: white;
  padding-top: 6%;
}
/*updated events section close*/

/*contact us and footer section open*/
footer {
  background-color: #133C55;
  background-image: url("/images/contact.jpg");
  background-size: cover;
  padding: 1%;
}

footer h2 {
  padding-bottom: 2%;
}

footer h3 {
  font-size: 1.3rem;
  padding-top: 2%;
  text-align: left;
}

footer h3, footer h4 {
  text-align: left;
  padding-left: 20%;
}

footer p{
  text-align: right;
  font-family: Arial;
  font-size: 1rem;
}

.footer-content {
  max-width: 250px;
  margin:0 auto;
}
footer a {
  font-size: 1rem;
}
/*contact us and footer section close*/
