<!-- Footer open  -->
<footer id="footer" class="padded center contact">

  <h2>Contact Us</h2>
  <div class="footer-content grid">

    <div class="col-3_sm-12">
      <h4><i>Address:</i></h4>
      <h4>313-4538 Kingsway</br>Burnaby, BC, Canada</h4>
    </div>

    <div class="col-3_sm-12">
      <h4><i>Phone & Fax:</i></h4>
      <h4>604-560-3266</h4>
      <h4>604-560-3268</h4>
    </div>

    <div class="col-3_sm-12">
      <h4><i>China Distribution Number:</i></h4>
      <h4>40-0103-5788</h4>
    </div>

    <div class="col-3_sm-12 email">
      <h4><i>Email:</i></h4>
      <h4>
        <a href="mailto:dlget@luckywater.ca">dlget@luckywater.ca</a>
      </h4>
    </div>

  </div>

  <p>Copyright © 2017 Lucky Water Inc. All rights reserved.</p>
</footer>
<!-- Footer close -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="scripts/main.js"></script>
