<!-- Header open -->
    <header>
      <nav class="grid-middle">
<!-- TODO: Insert logo & include ID -->
        <a href="#home" class="col-1">
          <img src="images/lucky_logo.png"/>
        </a>
        <a href="#product" class="col">Product Information</a>
        <a href="#benefits" class="col">Benefits</a>
        <a href="#location" class="col">Location</a>
        <a href="#updates" class="col">Updates</a>
        <a href="#footer" class="col">Contact Us</a>
      </nav>
    </header>
<!-- Header close -->
