<!-- Header open -->
    <header>
      <nav >
        <a class="logo" href="#home">
          <img src="images/lucky_logo.png"/>
        </a>
        <div class="nav_items mobilehide">
          <a class="two" href="#product">Product Information</a>
          <a href="#benefits">Benefits</a>
          <a href="#location">Location</a>
          <a class"two" href="#events">Upcoming Events</a>
          <a class"two" href="#footer">Contact Us</a>
        </div>
      </nav>
      <nav class="mobileshow">
      <div class="burger-button">
          <span class="burger-top"></span>
          <span class="burger-middle"></span>
          <span class="burger-bottom"></span>
      </div>
       <div class="burger-menu">
        <ul>
          <li>
            <a class="two" href="#product">Product Information</a>
          </li>
          <li>
            <a href="#benefits">Benefits</a>
          </li>
          <li>
            <a href="#location">Location</a>
          </li>
          <li>
            <a class"two" href="#events">Upcoming Events</a>
          </li>
          <li>
            <a class"two" href="#footer">Contact Us</a>
          </li>
        <ul>
      </div>
    </nav>
    </header>
<!-- Header close -->
