<!DOCTYPE html>
<html>

<!-- Head open: Does not show on the website -->
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
<!-- Universal reset: Normalize style sheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Amaranth|Bree+Serif" rel="stylesheet">
<!-- TODO: Icon font, little icons from other site -->
<!-- Link to css stylesheet, stay on the bottom of the head section -->
    <link rel="stylesheet" href="css/main.css">
  </head>
<!-- Head close -->

  <body>

{% include header.html %}

<!-- Main open -->
    <div class="main">
    {{content}}
    </div>
<!-- Main close -->

{% include footer.html %}

  </body>
</html>
